<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <table class="table">
                <thead>
                    <tr>
                        <td>Cod. Fis.</td>
                        <td>Nome</td>
                        <td>Cognome</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let temp of elenco">
                        <td>{{temp.cod_fis}}</td>
                        <td>{{temp.nome}}</td>
                        <td>{{temp.cognome}}</td>
                        <td>
                            <a class="btn btn-primary" href="/persona/dettaglio/{{temp.id}}">Det.</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>