<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <h1>Carta: {{varCodice}}</h1>

            <div class="form-group">
                <label for="input_negozio">Negozio</label>
                <input type="text" [(ngModel)]="varNegozio" class="form-control" id="input_negozio" placeholder="Riempi questo campo" />
            </div>
            <div class="form-group">
                <label for="input_codice">Codice</label>
                <input type="text" [(ngModel)]="varCodice" class="form-control" id="input_codice" placeholder="Riempi questo campo" />
            </div>

            <!-- TODO: Pulsanti di modifica ed eliminazione -->
            <!-- <button type="button" (click)="inserisciCarta()" class="btn btn-primary btn-block">Inserisci</button> -->
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">

            <div class="form-group">
                <label for="input_codice">Proprietario</label>
                <select class="form-control" [(ngModel)]="propSelezionato">
                    <option *ngFor="let temp of elencoPersone" value="{{temp.id}}">{{temp.nome}} {{temp.cognome}}</option>
                </select>
            </div>

            <button type="button" (click)="associaCarta()" class="btn btn-primary btn-block">Associa a Proprietario</button>

        </div>
    </div>
</div>