<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <h1>Inserisci Carta</h1>
            <h3>Riempi il form sottostante e clicca sul tasto inserisci per procedere con l'inserimento dei dati!</h3>
        
            <div class="form-group">
                <label for="input_negozio">Negozio</label>
                <input type="text" [(ngModel)]="varNegozio" class="form-control" id="input_negozio" placeholder="Riempi questo campo" />
            </div>
            <div class="form-group">
                <label for="input_codice">Codice</label>
                <input type="text" [(ngModel)]="varCodice" class="form-control" id="input_codice" placeholder="Riempi questo campo" />
            </div>

            <button type="button" (click)="inserisciCarta()" class="btn btn-primary btn-block">Inserisci</button>
        </div>
    </div>

</div>