<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-6 mt-1">
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Negozio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let temp of elencoCarte">
                        <td>{{temp.numero}}</td>
                        <td>{{temp.negozio}}</td>
                        <td>
                            <a class="btn btn-primary" href="/carta/dettaglio/{{temp.id}}">Det.</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>