<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Negozio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/persona/inserisci" routerLinkActive="true">Inserisci Persona</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/persona/lista" routerLinkActive="true">Elenco Persone</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/carta/inserisci" routerLinkActive="true">Inserisci Carta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/carta/lista" routerLinkActive="true">Elenco Carte</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>