<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <h1>Inserisci persona</h1>
            <h3>Riempi il form sottostante e clicca sul tasto inserisci per procedere con l'inserimento dei dati!</h3>
        
            <div class="form-group">
                <label for="input_nome">Nome</label>
                <input type="text" [(ngModel)]="varNome" class="form-control" id="input_nome" placeholder="Riempi questo campo" />
            </div>
            <div class="form-group">
                <label for="input_cognome">Cognome</label>
                <input type="text" [(ngModel)]="varCognome" class="form-control" id="input_cognome" placeholder="Riempi questo campo" />
            </div>
            <div class="form-group">
                <label for="input_codfis">Codice Fiscale</label>
                <input type="text" [(ngModel)]="varCodFis" class="form-control" id="input_codfis" placeholder="Riempi questo campo" />
            </div>

            <button type="button" (click)="inserisciPersona()" class="btn btn-primary btn-block">Inserisci</button>
        </div>
    </div>

</div>