<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <h1>Modifica persona</h1>

            <div class="form-group">
                <label for="input_nome">Nome</label>
                <input type="text" [(ngModel)]="varNome" class="form-control" id="input_nome" placeholder="Riempi questo campo" />
            </div>
            <div class="form-group">
                <label for="input_cognome">Cognome</label>
                <input type="text" [(ngModel)]="varCognome" class="form-control" id="input_cognome" placeholder="Riempi questo campo" />
            </div>
            <div class="form-group">
                <label for="input_codfis">Codice Fiscale</label>
                <input type="text" [(ngModel)]="varCodFis" class="form-control" id="input_codfis" placeholder="Riempi questo campo" />
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6 mt-1">
            <button type="button" (click)="eliminaPersona()" class="btn btn-danger btn-block">Elimina</button>
        </div>
        <div class="col-md-6 mt-1">
            <button type="button" (click)="modificaPersona()" class="btn btn-warning btn-block">Modifica</button>
        </div>
    </div>

    <hr />


    <div class="row">
        <div class="col-md-6 mt-1">
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Negozio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let temp of elencoCarte">
                        <td>{{temp.numero}}</td>
                        <td>{{temp.negozio}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>